* {
  box-sizing: border-box;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  width: 100%; height: 100%;
  margin: 0px; padding: 0px;
  background-color: #F5F6ED;
}
  .main {
    position: absolute;
    min-height: 50rem;
    width: 100%;
  }
  .mission-statement {
    position: relative;
    font-size: 4.5em;
    margin-top: 25%;
    font-family: 'Didot', 'Comic Sans';
    text-align: center;
    color: #333436;
  }
  .logo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 25%;
  }
.med-large-width {
  width: 74%;
}

#view-3 {
  display: none;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}
.slick-dots {
  bottom: 40%;
  width: 0;
  right: -40px;
}
.slick-dots li {
  float: right;
  display: block;
}
.slick-slide {
    height: 560px !important;
    width: 1200px !important;
}
@font-face {
  font-family: Neuzeit;
  src: url('../assets/Neuzeit.ttf');
}
