* {
  box-sizing: border-box;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  width: 100%; height: 100%;
  margin: 0px; padding: 0px;
  background-color: #F5F6ED;
}

/*--- Animation ---*/

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.85, .85, .85);
    transform: perspective(400px) scale3d(.85, .85, .85);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

/*--- Cortlandt Red ---*/
  .cortlandt-red {
    color: #FF2444;
  }
  .firstSegment {
    height: 100vh;
  }
  .mission-statement {
    position: relative;
    font-size: 4.5em;
    padding-top: 38vh;
    font-family: 'Didot', 'Comic Sans';
    text-align: center;
    color: #333436;
  }
  .logo {
    display: block;
    margin: 0 auto;
    margin-top: 8em;
    width: 20em;
    animation-duration: 1.75s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-name:flip;

  }
  .secondSegment {
    min-height: 35em;
    width: 100%;
    background-image: url("../assets/nycwtc.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .thirdSegment {
    min-height: 60em;
    width: 100%;
  }
  .fourthSegment {
    min-height: 35em;
    width: 100%;
    background-image: url("../assets/sf-night-min.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .fifthSegment {
    height: 100vh;
  }

.med-large-width {
  width: 74%;
}

#view-3 {
  display: none;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}
.slick-dots {
  bottom: 40%;
  width: 0;
  right: -40px;
}
.slick-dots li {
  float: right;
  display: block;
}
.slick-slide {
    height: 560px !important;
    width: 1200px !important;
}
@font-face {
  font-family: Neuzeit;
  src: url('../assets/Neuzeit.ttf');
}
