@media (max-width: 650px) {
  .menu-bar {
    display: none;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F5F6ED;
  }
  #view-1 {
    position: relative;
    width: 100vw;
    height: 100%;
  }
    .logo {
      position: relative;
      width: 100%;
      height: 30%;
      background-image: url(../assets/Cortlandt-Labs-logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .mission {
      position: relative;
      font-size: 4.5em;
      font-family: 'Didot', 'Comic Sans';
      text-align: left;
      margin-top: 10%;
      margin-left: 5%;
      margin-right: 5%;
      color: #333436;
      
    }
    .bottom {
      position: absolute;
      width: 100%;
      height: 10%;
      bottom: 0;
    }
    .arrow {
      position: absolute;
      width: 100%;
      height: 10%;
      bottom: 0;
      background-image: url(../assets/down-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10%;
      -webkit-animation-name: slideInDown 2s;
      animation: slideInDown 2s;
    }
  #view-2 {
    position: relative;
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
    top: 0;
  }
    .row-1 {
      width: 100%;
      height: 33.3%;
    }
      .row1-img {
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    .row-2 {
      width: 100%;
      height: 33.3%;
    }
      .row2-img {
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    .row-3 {
      width: 100%;
      height: 33.3%;
    }
      .row3-img {
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    .row-4 {
      width: 100%;
      height: 33.3%;
    }
      .row4-img {
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
  #view-3 {
    display: block;
    position: relative;
    width: 90vw;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Neuzeit, 'Didot';
  }
    .cl-logo {
      position: absolute;
      height: 15%;
      right: 0;
      top: 5%;
    }
    .team-heading {
      position: relative;
      top: 20%;
      font-size: 8.2vw;
      font-weight: lighter;
      line-height: 120%;
      color: #333436;
    }
    .team {
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 13%;
    }
      .picture-1 {
        position: relative;
        top: 25%;
        width: 120px;
        height: 120px;
        float: left;
        left: 10%;
        background-image: url(../assets/aaron.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 75px;
      }
      .picture-2 {
        position: relative;
        top: 25%;
        width: 120px;
        height: 120px;
        float: left;
        left: 25%;
        background-image: url(../assets/jon.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 75px;
      }
      .picture-3 {
        position: relative;
        top: 70%;
        width: 120px;
        height: 120px;
        left: 35%;
        background-image: url(../assets/jack.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 75px;
      }
}

/* iPhone 5 and all */
@media (max-width: 375px){
  .picture-1 {
    left: 5%;
  }
  .picture-2 {
    left: 20%;
  }
  .picture-3 {
    left: 30%;
  }
}
@media (max-width: 320px){
  .picture-1 {
    left: 5%;
  }
  .picture-2 {
    left: 15%;
  }
  .picture-3 {
    left: 30%;
  }
}
/* Animations */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}